* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto bold", sans-serif;
}
/*************************HEADER******************************************/
header {
  height: 20hv;
  width: 100%;
  background-color: rgb(183, 144, 228);
  position: fixed;
  z-index: 2000;
  display: flex;

  justify-content: space-around;
  align-items: center;
}

/*********************************** NAV BAR*************************************/
.logo {
  width: 12%;
}
picture a {
  text-decoration: none;
  color: #fff;
}
/**************************** Barra de navegacion *********************************/

nav ul {
  list-style: none;
}
nav ul li {
  line-height: 2rem;
  position: relative;
}
nav li ul {
  position: absolute;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  font-weight: bold;
  padding: 0 1.5rem;
  text-align: center;
}
nav ul li ul {
  display: none;
}
nav ul li:hover ul {
  display: block;
  width: 200px;
}
/******primer nivel*************/
nav > ul {
  background: rgb(183, 144, 228);
  display: table;
  text-decoration: none;
  color: #fff;
  display: block;
  font-weight: bold;
  padding: 0 1.5rem;
  text-align: center;
}

nav > ul > li {
  float: left;
  text-decoration: none;
}
/*segundo nivel**************/
nav li li {
  background: rgb(183, 144, 228);
  top: 20px;
}
nav li li:hover {
  background: rgb(161, 122, 206);
}
/********************   INICIO *************************************************************/
#inicio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#inicio main {
  height: 278vh;
  display: flex;
  align-items: center;
}

.banner {
  background-image: url(../img/fondo-in.jpg);
  height: 500px;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.text-01 {
  display: flex;
}
.text-01 article h2 {
  text-align: center;
  font-size: 34px;
  color: rgb(116, 61, 179);
  margin-top: 60px;
}
.text-01 article p {
  padding: 5px 5px;
  font-size: 18px;
  margin-left: 40px;
  color: rgb(116, 61, 179);
  word-spacing: 2px;
  line-height: 30px;
}
.text-02 {
  display: flex;
}
.text-02 article h2 {
  padding-bottom: 20px;
}
.text-02 article h2,
p {
  text-align: center;
  color: rgb(116, 61, 179);
  font-style: italic;
  line-height: 30px;
  letter-spacing: 1px;
  margin: 0px 40px;
  font-style: italic;
}

/*************************** FOOTER **************************************************/

.pie {
  background-color: rgb(192, 178, 178);
  height: 50px;
  display: flex;
  flex-direction: column;
}
.pie p {
  padding-top: 15px;
  font-size: 14px;
}
/*************************  CLINICA.HTML ********************************/
#clinica {
  height: 500px;
}
#clinica img {
  width: 50%;
  margin-top: 30px;
}
#clinica-info {
  height: 500px;
}
#clinica-info h2 {
  font-style: italic;
}
.banner-clinic {
  background-image: url(/img/img-curita.jpg);
  height: 300px;
  background-size: cover;
  background-position: top;
  position: relative;
}

.text-cli {
  width: 50%;
  position: relative;
  color: darkorchid;
  left: 760px;
  bottom: 100px;
}
.text-cli h2 {
  text-align: center;
  padding-bottom: 20px;
  font-size: 35px;
}
/************************ ALIMENTACION ***************************************************/
#aliment-in {
  height: 350px;
}
.aliment-banner {
  background-image: url(/img/dog-food.jpg);
  height: 290px;
}
#alimentacion {
  height: 670px;
}
#aliment-tabla h2 {
  text-align: center;
  margin-bottom: 15px;
  color: rgb(116, 61, 179);
}

.tabla li {
  list-style-type: none;
}
.tabla td {
  padding: 5px;
  color: rgb(116, 61, 179);
}
.tabla th {
  background-color: rgb(98, 19, 172);
  color: #fff;
}
/************************ ACCESORIOS.HTML ********************************************/

.acc-banner {
  background-image: url(/img/fondoAcc.jpg);
  height: 400px;
  background-size: cover;
}

.acc-texts {
  display: flex;
  align-items: center;
}
.acc-texts p {
  text-align: center;
}
.acc-texts h2 {
  text-align: center;
  margin-left: 60px;
  margin-top: 50px;
  color: rgb(116, 61, 179);
}
#colchonetas img {
  max-width: 250px;
}
.juguetes {
  margin-top: 100px;
}
/*************************** PELUQUERIA.HTML  **********************************/
#peluqueria {
  height: 690px;
}
#peluqueria img {
  max-width: 500px;
  margin-left: 60px;
}
.pelu-text {
  display: flex;
  align-items: center;
}
.pelu-text h2 {
  text-align: center;
  margin-bottom: 10px;
  color: rgb(98, 19, 172);
}
.cortes {
}
.antes-despues {
  display: flex;
  align-items: flex-end;
  height: 45vh;
  margin-left: 60px;
}
.antes-despues p {
  text-align: left;
}
.antes-despues h2 {
  text-align: left;
  margin-left: 60px;
  color: rgb(116, 61, 179);
}

/*********************************** NOSOTROS.HTML******************************/
#nosotros {
  height: 800px;
}
#nosotros img {
  width: 30%;
  height: 30%;
  margin-left: 1000px;
}
.nosotros-info {
  width: 60%;
  margin-top: -580px;
}
.nosotros-info p {
  text-align: left;
  line-height: 30px;
  margin-left: 60px;

  text-transform: uppercase;
}
.nosotros-info h2 {
  text-align: center;
  color: rgb(111, 41, 190);
}
.img-logo {
  background-image: url(/img/marca.jpg);
  height: 380px;
  background-size: cover;
  margin-left: 60px;
  margin-bottom: 20px;
}
.linea {
  margin-left: 60px;
  border: solid rgb(111, 41, 190);
}
#formulario {
  height: 500px;
}
.formulario {
  padding: 3rem 0;
  width: 50%;
  height: 400px;
}

.formulario {
  margin-left: 80px;
}
.formulario h2 {
  color: rgb(98, 19, 172);
  margin-bottom: 20px;
}
.formulario label {
  font-weight: bold;
  color: rgb(98, 19, 172);
}
#ubicacion {
  height: 600px;
}
.maps h2 {
  text-align: center;
  font-size: 38px;
  padding-bottom: 15px;
}
