// Globales
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto bold", sans-serif;
}
// Modal
.modal {
  margin-top: 60px;
}

.modal-body label {
  font-weight: bold;
}

// fin modal
