// Responsive
@media all and (max-width: 768px) {
  /***** header *****/
  nav {
    display: flex;
    margin-left: 20px;
    flex-flow: row wrap;
  }
  .logo h1 {
    margin-left: 0;
  }
  /********************   INICIO *************************************************************/
  #inicio {
    flex-flow: row wrap;
  }
  .banner {
    margin-top: 90px;
  }

  .text-inicio {
    flex-flow: row wrap;
  }
  /*************************  CLINICA.HTML ********************************/
  .clinica-in {
    align-items: center;
    margin-top: 20px;
  }
  .clinica-in img {
    height: 20vh;
  }

  .text-cli {
    margin: 20px;
  }
} /***hasta aca llega el responsive 768px*/
@media all and(max-width:426px) {
  header {
    nav {
      .navbar-toggler {
        padding: 0.25rem 0.75rem;
        margin-top: 20px;
        margin-left: -10px;
        font-size: 1.25rem;
        line-height: 1;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        transition: box-shadow 0.15s ease-in-out;
      }
      picture {
        a {
          h1 {
            margin-top: -10%;
          }
        }
      }
    }
  }
  // Inicio
  .inicio {
    .inicio__banner {
      height: 300px;
    }
  }
  .seccion {
    .seccion__text--inicio {
      flex-direction: column;
      .seccion__text--titulo {
        text-align: center;
      }
      .seccion__text--img-in-01 {
        height: 300px;
      }

      .seccion__text--img-in-02 {
        height: 300px;
      }
    }
  }
} /*****************hasta aca llega el resp 425px ************************/
