// Responsive
@media all and (max-width: 768px) {
  /***** header *****/
  nav {
    display: flex;
    margin-left: 20px;
    flex-flow: row wrap;
  }
  .logo h1 {
    margin-left: 0;
  }
  //INICIO
  #inicio {
    flex-flow: row wrap;
  }
  .banner {
    margin-top: 90px;
  }

  .text-inicio {
    flex-flow: row wrap;
  }
  //  CLINICA.HTML
  .clinica-in {
    align-items: center;
    margin-top: 20px;
  }
  .clinica-in img {
    height: 20vh;
  }

  .text-cli {
    margin: 20px;
  }
} /***hasta aca llega el responsive 768px*/
@media all and(max-width:426px) {
  header {
    display: flex;
    background-image: linear-gradient(
      to left,
      #822bd8 25%,
      #8e22d6 50%,
      #d875c1 91%
    );
    picture {
      a {
        h1 {
          margin-left: 0;
          margin-top: 40px;
          padding-left: 5px;
        }
      }
    }
    nav {
      margin-bottom: 20px;

      .navbar-toggler {
        padding: 0.25rem 0.5rem;
        margin-top: 20px;

        margin-left: 0px;
        font-size: 1.25rem;
        line-height: 1;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        transition: box-shadow 0.15s ease-in-out;
      }
    }
  }
  // Inicio
  .inicio {
    .inicio__banner {
      height: 300px;
    }
  }
  .seccion {
    .seccion__text--inicio {
      flex-direction: column;
      .seccion__text--titulo {
        text-align: center;
      }
      .seccion__text--img-in-01 {
        height: 300px;
      }

      .seccion__text--img-in-02 {
        height: 300px;
      }
    }
  }
  //redes sociales
  .redes-sociales {
    top: 90%;
    left: 10%;
    .redes-sociales__lista {
      flex-direction: row;
      justify-content: center;

      li {
        flex-grow: 1;
        a {
          position: relative;
          padding: 10px 23px;
          opacity: 1;
          font-size: 40px;
          background: linear-gradient(
            to top,
            #822bd8 6%,
            #8e22d6 33%,
            #d875c1 56%
          );
        }
      }
    }
  }
  // PELUQUERIA.HTML
  .carousel {
    height: 200px;
    padding-top: 100px;
  }
  .carousel-indicators,
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  .peluqueria {
    .peluqueria__text {
      display: flex;
      align-items: center;
      flex-direction: column;
      .peluqueria__img {
        max-width: 100%;
        margin-left: 0;
      }
      .peluqueria__text--titulo,
      .peluqueria__text--parrafo {
        text-align: center;
        margin-bottom: 10px;
        color: $color-estandar;
        margin: 0px 20px;
      }
    }
  }

  .cortes {
    height: 600px;
    .cortes__antes-y-despues {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      height: 45vh;
      margin-left: 0px;
      .cortes__antes-y-despues--parrafo {
        text-align: center;
        color: $color-estandar;
        margin: 0px 20px;
      }

      .cortes__antes-y-despues--titulo {
        margin: 0px 20px;
        margin-left: 0px;
      }
      .cortes__antes-y-despues--img {
        display: flex;
        height: 200px;
      }
    }
  }
  //  CLINICA.HTML
  .clinica {
    .clinica__text--cli {
      margin: 10px 10px;
    }
  }
  //ACCESORIOS.HTML
  .acc-banner {
    background-position: center;
  }
  .contenedor {
    display: flex;
    .accesorios {
      display: flex;
      align-items: center;
      flex-direction: column;

      .accesorios__img {
        width: 250px;
        height: 180px;
        margin-right: 0px;
        border-radius: 20px;
      }
    }
  }
  //alimentacion
  .tabla {
    display: none;
  }
  //NOSOTROS.HTML

  .nosotros {
    justify-content: center;
    &__info {
      display: flex;
      color: $colorF;
      justify-content: center;
      font-style: italic;
      padding: 10px;

      .linea {
        border: solid 3px $colorF;
        margin-left: -20px;
      }

      .nosotros__info--h3,
      .nosotros__info--h2 {
        text-align: center;
      }
    }

    .nosotros__img {
      display: none;
    }
  }

  .ubicacion {
    height: 600px;

    .ubicacion__maps {
      margin-top: 5rem;
      .ubicacion__maps--titulo {
        text-align: center;
        font-size: 38px;
        padding-bottom: 15px;
        color: #6f29be;
        box-shadow: 6px 6px 12px rgb(173, 142, 142);
      }
    }
  }
  /*modal */
  .modal {
    margin-top: 60px;
  }

  .modal-body label {
    font-weight: bold;
  }

  /**fin modal**/
  .ubicacion {
    height: 600px;
    .ubicacion__maps {
      margin-top: 5rem;
      .ubicacion__maps--titulo {
        text-align: center;
        font-size: 38px;
        padding-bottom: 15px;
        color: #6f29be;
      }
    }
  } /*HASTA ACA*/
} /*****************hasta aca llega el resp 425px ************************/
@media all and(max-width:321px) {
  header {
    display: flex;
    nav {
      flex-direction: column;

      picture {
        a {
          h1 {
            padding-left: 60px;
            margin-top: -50px;
            width: 70%;
          }
        }
      }
    }
  }
  //redes sociales
  .redes-sociales {
    left: 0%;
  }
} /*hasta aca 320*/
