//                 FOOTER

.footer {
  &__div {
    background-image: linear-gradient(rgb(192, 178, 178), #fff, black);
    height: 50px;
    &--parrafo {
      padding-top: 10px;
      font-size: 14px;
      color: rgb(77, 75, 75);
      text-align: center;
    }
  }
}
