// Redes Sociales
.redes-sociales {
  position: fixed;
  left: 0;
  top: 200px;
  z-index: 1000;
  display: flex;
  .redes-sociales__lista {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      a {
        display: inline-block;
        color: white;
        background: linear-gradient(
          to left,
          #822bd8 6%,
          #8e22d6 33%,
          #d875c1 56%
        );
        padding: 20px 10px;
        text-decoration: none;
        box-shadow: 3px 3px 6px #00000029;
        opacity: 1;
        font-size: 35px;
      }

      .fa-phone-alt {
        font-size: 2.2rem;
      }
      .fa-instagram {
        font-size: 2.5rem;
      }
      .fa-whatsapp {
        font-size: 2.5rem;
      }
      .fa-bone {
        font-size: 1.75rem;
      }
    }
  }
}
