//ACCESORIOS.HTML
.accesorios-main {
  background-image: url(../img/img-fondo-patita.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .acc-banner {
    background-image: url(../img/banner-acc.png);
    height: 400px;
    background-size: cover;
    margin-bottom: 20px;
  }
  .contenedor {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    .accesorios {
      background-color: #c55dad;
      border-radius: 15px;
      padding: 20px;
      display: flex;
      align-items: center;
      position: relative;
      margin-bottom: 50px;
      &__img {
        height: 180px;

        border-radius: 20px;
      }
      &__titulo {
        font-size: 1.5rem;
        margin-bottom: 10px;
        color: $colorF;
        text-align: center;
      }

      &__parrafo {
        line-height: 28px;
        font-size: 1rem;
        color: $colorF;
        text-align: center;
        margin-left: 10px;
      }
    }
  }
}
