/************************ ALIMENTACION ***************************************************/
.alimentacion {
  &__banner {
    background-image: url(../img/banner-al.jpg);
    height: 350px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    &::before {
      position: absolute;
      content: "";
      background-color: #020016;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.7;
      height: 350px;
    }

    &--texto {
      display: flex;
      position: absolute;
      justify-content: center;

      margin-top: 10rem;
      margin-left: 200px;
      font-family: "Pacifico", cursive;

      p {
        font-size: 25px;
        padding: 10px 15px;
        color: #fff;
      }
    }
  }
}
.cachorros {
  .card {
    margin: 5px 60px;
    .card-title {
      color: $color-estandar;
      font-weight: bold;
      text-align: center;
    }
    .card-text {
      color: $color-estandar;
    }
  }
}
.tabla {
  margin: 5px 60px;
  .tabla__table {
    margin: $margenes;

    li {
      list-style-type: none;
    }
    td {
      padding: 5px;
      color: #743db3;
      text-align: center;
    }
    th {
      background-color: #6213ac;
      color: #fff;
      text-align: center;
    }
  }
  .tabla__table--titulo {
    text-align: center;
    margin-bottom: 15px;
    color: #743db3;
  }
}
