// Inicio
.inicio {
  display: flex;
  flex-flow: column wrap;
  gap: 1em;
  .inicio__banner {
    background-image: url(../img/banner-in.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-top: 55px;
  }
}
.seccion {
  .seccion__text--inicio {
    display: flex;
    gap: 1em;
    align-items: center;
    margin: 5px 20px;
    .seccion__text--titulo {
      text-align: center;
      font-size: 34px;
      color: $color-estandar;
      margin-bottom: 20px;
    }
    .seccion__text--parrafo {
      padding: 5px 5px;
      font-size: 18px;
      margin-left: 40px;
      color: #743db3;
      word-spacing: 2px;
      line-height: 30px;
    }
    .seccion__text--img-in-01 {
      background-image: url(../img/in-img01.jpg);
      height: 400px;
      background-size: cover;
      background-position: center;
      width: 100%;
      justify-content: center;
    }

    .seccion__text--img-in-02 {
      background-image: url(../img/perritos.jpg);
      height: 400px;
      background-size: cover;
      background-position: center;
      width: 100%;
      justify-content: center;
    }
  }
}
.container {
  .card {
    .card-body {
      box-shadow: 0px 6px 12px #d43cc029;
      border: none;
      .card-title {
        font-weight: bold;
        text-align: center;
        color: $color-estandar;
      }
      .card-text {
        color: $color-estandar;
      }
    }
  }
}
