// Inicio
.inicio {
  display: flex;
  flex-flow: column wrap;
  &__banner {
    background-image: url(../img/banner-ini.jpg);
    height: 600px;
    background-size: cover;

    background-position: top;
  }
}

.iconos {
  display: flex;
  flex-flow: row nowrap;
  color: $color-estandar;
  text-align: center;

  &__imgs {
    margin: 10px auto;
    &--h3 {
      margin-top: 10px;
    }
    &--h4 {
      color: #fff;
      margin-top: 10px;
    }
  }
}

.seccion {
  &__text {
    display: flex;
    gap: 1em;
    align-items: center;
    margin: 5px 10px;
    box-shadow: $sombra;
    &--titulo {
      text-align: center;
      font-size: 30px;
      color: $color-estandar;
      margin-bottom: 10px;
      margin-left: 60px;
    }
    &--parrafo {
      padding: 5px 5px;
      font-size: 18px;
      margin-left: 40px;
      color: #743db3;
      word-spacing: 2px;
      line-height: 30px;
    }
    &--img-in-01 {
      background-image: url(../img/in-img01.jpg);
      height: 400px;
      background-size: cover;
      background-position: center;
      width: 100%;
      box-shadow: $sombra;
    }

    &--img-in-02 {
      background-image: url(../img/perritos.jpg);
      height: 400px;
      background-size: cover;
      background-position: center;
      width: 100%;
      justify-content: center;
      box-shadow: $sombra;
    }
  }
}
.container {
  .card {
    box-shadow: $sombra;
    .card-body {
      box-shadow: 0px 6px 12px #d81b1b29;
      border: none;
      .card-title {
        font-weight: bold;
        text-align: center;
        color: $color-estandar;
      }
      .card-text {
        color: $color-estandar;
      }
    }
  }
}
