//NOSOTROS.HTML

.nosotros {
  display: flex;
  justify-content: space-around;
  background-color: #7e3acc;
  box-shadow: $sombra;

  &__info {
    display: flex;
    flex-direction: column;
    color: $colorF;
    justify-content: center;
    font-style: italic;

    .linea {
      border: solid 3px $colorF;
      margin-left: -20px;
    }
  }

  &__img {
    display: flex;
    background-image: url(../img/img-dogsilla.jpg);
    height: 600px;
    width: 30%;
    background-size: cover;
  }
}

.ubicacion {
  display: flex;
  align-items: center;

  &__maps {
    width: 100%;
    height: 400px;

    &--titulo {
      text-align: center;
      font-size: 38px;
      color: $color-estandar;
      box-shadow: $sombra;
    }
  }
}
