//NOSOTROS.HTML

.nosotros {
  display: flex;
  justify-content: space-around;
  background-color: #7e3acc;
  box-shadow: $sombra;

  .nosotros__info {
    display: flex;
    flex-direction: column;
    color: $colorF;
    justify-content: center;
    font-style: italic;

    .linea {
      border: solid 3px $colorF;
      margin-left: -20px;
    }

    .nosotros__info--h3,
    .nosotros__info--h2 {
      text-align: center;
    }
  }

  .nosotros__img {
    display: flex;
    background-image: url(/img/img-dogsilla.jpg);
    height: 600px;
    width: 30%;
    background-size: cover;
  }
}

.ubicacion {
  display: flex;
  align-items: center;

  .ubicacion__maps {
    width: 100%;
    height: 400px;

    .ubicacion__maps--titulo {
      text-align: center;
      font-size: 38px;

      color: #6f29be;
      box-shadow: 6px 6px 12px rgb(173, 142, 142);
    }
  }
}
