// PELUQUERIA.HTML

.peluqueria {
  color: $color-estandar;
  &__banner {
    background-image: url(../img/banner-pelu.jpg);
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
  }
  &__text {
    display: flex;
    align-items: center;
    &--img {
      max-width: 500px;
      margin-left: 60px;
      margin-bottom: 10px;
    }
    &--titulo {
      text-align: center;
    }
    &--parrafo {
      margin: 10px 20px;

      text-align: justify;
    }
  }
}

.cortes {
  &__antes-y-despues {
    display: flex;
    align-items: center;
    height: 45vh;
    margin-left: 80px;
    &--parrafo {
      text-align: center;
      color: $color-estandar;
    }
    &--titulo {
      text-align: center;
      margin-left: 60px;
      color: $color-estandar;
    }
    &--img {
      margin: 10px;
    }
  }
}
